In [12]:
from pathlib import Path
import pandas as pd
import fiona
from dbfread import DBF

In [14]:
d = Path("../webapp/backend/backend/data/AADT_1997_2019_History_Table_AccessDB/AADT_1997-2019.csv")
historical = pd.read_csv(d)
historical.columns

Index(['SEQUENCE_NUMBER', 'ROUTE_LABEL', 'STREET_NAME', 'LOCATION_DESCRIPTION',
       'COUNTY_NAME', 'CITY_NAME', 'AADT', 'AADT_COMMENTS', 'DATA_TYPE',
       'DATA_YEAR'],
      dtype='object')

In [25]:
tables = DBF("../webapp/backend/backend/data/traffic/Annual_Average_Daily_Traffic_Locations_in_Minnesota.dbf", load=True)
gis = pd.DataFrame(tables.records)

In [37]:
gis.columns

Index(['SEQUENCE_N', 'FROM_DATE', 'TO_DATE', 'ROUTE_LABE', 'STREET_NAM',
       'LOCATION_D', 'VEHICLE_CL', 'DAILY_FACT', 'SEASONAL_F', 'AXLE_FACTO',
       'CURRENT_YE', 'CURRENT_VO', 'AADT_COMME', 'LONGITUDE', 'LATITUDE'],
      dtype='object')

In [38]:
traffic = historical.merge(gis[["SEQUENCE_N","LONGITUDE","LATITUDE"]],left_on="SEQUENCE_NUMBER", right_on="SEQUENCE_N")

   SEQUENCE_NUMBER ROUTE_LABEL STREET_NAME  ... SEQUENCE_N LONGITUDE LATITUDE
0             17.0       MN 27         NaN  ...         17   -93.257  46.4483
1             17.0       MN 27         NaN  ...         17   -93.257  46.4483
2             17.0       MN 27         NaN  ...         17   -93.257  46.4483
3             17.0       MN 27         NaN  ...         17   -93.257  46.4483
4             17.0       MN 27         NaN  ...         17   -93.257  46.4483

[5 rows x 13 columns]